<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./components/head') %>
</head>

    <body>

        <%- include('./components/navbar') %>
        <% series_.forEach((serie) => { %> 
        <div class="container-list">
            <div class="card-list">
                <div class="box">
                    <div class="content">
                        <h2><%= serie.title%></h2>
                        <img src="<%= serie.image%>" alt="Capa da serie / filme">
                        <p><%=serie.description%></p>
                        <a href="#">Detalhes</a>
                    </div>
                </div>
            </div>
        <% }) %> 

        <%- include('./components/footer') %>

    </body>
    
</html>